/* common shared styles */

* {
  font-family: "Merriweather", serif;
}
body {
  max-width: 1900px;
  margin: auto;
}
main{
  width: 1600px;
  margin: auto;
  background-color: rgba(250, 235, 215, 0.248);
}
section {
  width: 1600px;
  display: flex;
  justify-content: center;
}
.container {
  width: 95%;
  margin-bottom: 100px;
  border-radius: 16px;
}

/* banner styles */
header{
  width: 1600px;
  margin-left: 142px;
  background-color: rgba(250, 235, 215, 0.248);
}
.banner-container {
  width: 1320px;
  height: 600px;
  background-image: url("../resources/Banner\ Image.png");
  display: flex;
  justify-content: center;
  margin-top:100px;
  box-shadow: 15px 15px 25px rgba(11, 11, 11, 0.784);
}
#banner-container {
  text-align: center;
  padding: 177px 344px;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

.banner-first-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.banner-title {
  color: #fcfbfbfc;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /*131.944%*/
}

/* Discount section styles */

.discount-off-title {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 45px;
}
.discount-deals-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.discount-categories {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}

/* midnight party section styles */

.mindnight-container {
  width: 1320px;
  margin-top: 20px;
  background-image: url("../resources/Vectorrr.png");
  box-shadow: 15px 15px 25px rgba(11, 11, 11, 0.784);
}
#midnight-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding: 68px 130px;
  background: linear-gradient(90deg, #1b057b 0%, rgba(230, 93, 8, 0) 100%);
}
.midnight-heading {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
}
.midnight-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
}
.midnight-button {
  color: #eaab0e;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.midnight-button:hover {
  color: aqua;
}

/* Time and place banner styles */

.placetime-container {
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  padding: 100px auto;
}
#placetime-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}
.placetime-container h3 {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  display: block;
  justify-content: center;
}
.pdt-red {
  color: #f00;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.pdt-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.placetime-button {
  color: #fff;
  text-align: center;
  font-size: 20px;
  border: 10px inset #e5ae23;
  border-radius: 10px;
  background-color: rgb(72, 17, 8);
  box-shadow: 5px 5px 5px rgb(60, 57, 57);
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  padding: 10px;
}
.placetime-button:hover {
  color: rgb(3, 64, 247);
  background-color: rgb(237, 216, 186);
}

/* Coming Soon section styles */

.upcoming-container{
  width: 1320px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .upcoming-text1-con{
    width: 390px;
    padding: 105px 0;
  }
  .uc-red-text{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
  }
  .uc-heading{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
  }
  .uc-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
  }
  .uc-img-border{
  width: 460px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid #F00;
  border-radius: 460px;
  }
  .upcoming-text2-con{
  width: 280px;
  }
  .uc-year-24{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
  }
  .uc-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
  }

/* Holydays section styles */

.holydays-container{
width: 1320px;
margin-bottom: 20px;
}
.holydays-text-container{
width: 1060px;
padding-bottom: 50px;
text-align: center;
margin: auto;
line-height: 5px;
}
.holydays-top-text{
  color: #070211;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.holydays-heading{
  color: #F00;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
}
.holydays-description{
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; 
}
.holydays-image-container{
display: flex;
justify-content: space-between;
background-image: url('../resources/Rectangle\ 2.png');
background-repeat: no-repeat;
background-position: bottom;
}
.hd-image-left{
  padding-right: 100px;
  padding-left: 25px;
  padding-top: 160px;
  
}
.hd-image-left img{
  width: 580px;
  
}
.hd-image-right{
  width: 450px;
  height: 480px;
margin-right: 80px;
padding-right: 150px;
margin-bottom: 226px;
display: inline;

}
.hd-image-right img{
  width: 250px;
  margin-top: 80px;
  padding-top: 50px;
}
.image-right-bg{
background-image: url('../resources/Rectangle\ 1.png');
background-position: center;
width: 420px;
height: 430px;
margin-top: 45px;
margin-left: 195px;
margin-bottom: 220px;
}

/* gift section styles */

.gifts-container {
  width: 1320px;
  max-width: 1600px;
  padding: 0 140px;
}
.gifts-texts {
  width: 896px;
  margin-bottom: 25px;
}
.gifts-top-line {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.gifts-heading {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.gifts-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.gift-image-container {
  display: block;
  justify-items: center;
  align-items: center;
}
.gift-image-div {
  display: flex;
  gap: 18px;
  margin-bottom: 18px;
}
.gift-image{
  box-shadow: 5px 5px 20px rgba(11, 11, 11, 0.784);
  border-radius: 20px;
}
/* newsletter section styles */

.newsletter-container {
  width: 1320px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  box-shadow: 15px 15px 25px rgba(11, 11, 11, 0.784);
}
#newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 220px;
}
.newsletter-heading {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}
.newsletter-paragraph {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; 
}
.newsletter-inputs {
  display: flex;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgb(94, 22, 22);
}
.subscribe {
  width: 150px;
  border: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 20px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.subscribe:hover{
  color: rgb(0, 187, 255);
}
.email {
  width: 300px;
  border: 0;
  border-radius: 50px 0 0 50px;
  background: #fff;
  padding: 20px;
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

/* footer section styles */

footer{
  width: 1360px;
  background: #070211;
  margin: auto;
  padding: 140px 120px;
}
.footer-address-con{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}
.footer-address, .footer-contact{
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  width: 400px;
  line-height: 60px;
}
.footer-contact{
text-align: right
}
.con-web, .con-phn{
  padding-bottom: 10px;
  line-height: 5px;
}
.footer-icon{
display: flex;
justify-content: center;
gap: 30px;
}
.icon{
cursor: pointer;
}
.footer-icon button{
  border: 0;
  background-color: transparent;
}
.footer-rights-unsubscribe{
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.unsubscribe{
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.unsubscribe:hover{
  color: rgb(0, 187, 255);
}