/* common shared styles */
* {
  font-family: "Merriweather", serif;
}
body {
  max-width: 1900px;
  margin: auto;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 95%;
  margin-bottom: 50px;
}

/* banner styles */
.banner-container {
  width: 1320px;
  height: 600px;
  background-image: url("../resources/Banner\ Image.png");
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#banner-container {
  text-align: center;
  padding: 177px 344px;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

.banner-first-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.banner-title {
  color: #fcfbfbfc;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /*131.944%*/
}

/* Discount section styles */
.discount-off-title {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 45px;
}
.discount-deals-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.discount-categories {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}

/* midnight party section styles */
.mindnight-container {
  width: 1320px;
  height: 600px;
  margin-top: 20px;
  background-image: url("../resources/Vectorrr.png");
}
#midnight-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding: 68px 130px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.midnight-heading {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
}
.midnight-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
}
.midnight-button {
  color: #eaab0e;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.midnight-button:hover {
  color: aqua;
}

/* Time and place banner styles */
.placetime-container {
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  padding: 100px auto;
}
#placetime-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}
.placetime-container h3 {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  text-align: center;
  display: block;
  justify-content: center;
}
.pdt-red {
  color: #f00;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.pdt-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.placetime-button {
  color: #fff;
  text-align: center;
  font-size: 20px;
  border: 10px inset #e5ae23;
  background-color: rgb(72, 17, 8);
  box-shadow: 4px 4px 4px rgb(60, 57, 57);
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  padding: 10px;
}
.placetime-button:hover {
  color: rgb(239, 189, 8);
  background-color: rgb(144, 59, 23);
}

/* gift section styles */

.gifts-container {
  width: 1320px;
  max-width: 1600px;
  padding: 0 140px;
}
.gifts-texts {
  width: 896px;
  margin-bottom: 25px;
}
.gifts-top-line {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.gifts-heading {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.gifts-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.gift-image-container {
  display: block;
  justify-items: center;
  align-items: center;
}
.gift-image-div {
  display: flex;
  gap: 18px;
  margin-bottom: 18px;
}
/* newsletter section styles */
.newsletter-container {
  width: 1320px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
#newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 220px;
}
.newsletter-text {
}
.newsletter-heading {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}
.newsletter-paragraph {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.newsletter-inputs {
  display: flex;
}
.subscribe {
  width: 150px;
  border: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 20px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.subscribe:hover{
  color: rgb(0, 187, 255);
}
.email {
  width: 300px;
  border: 0;
  border-radius: 50px 0 0 50px;
  background: #fff;
  padding: 20px;
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

/* footer section styles */
footer{
  width: 1600px;
  background: #070211;
  margin: auto;
  padding: 140px 120px;

}
.footer-address-con{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
  
  
}
.footer-address, .footer-contact{
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  width: 400px;
  line-height: 60px;
}

.footer-contact{
text-align: right

}
.con-web, .con-phn{
  padding-bottom: ;
  line-height: 5px;
}
.footer-icon{
display: flex;
justify-content: center;
gap: 24px;
}
.footer-rights-unsubscribe{
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: ;
}
.rights{

}
.unsubscribe{
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.unsubscribe:hover{
  color: rgb(0, 187, 255);
}
